
@{
    ViewBag.Title = "About Page";
}

<h1>About Us</h1>
<br/>
<h3>Vincent Huang</h3>
<p>Friendly Hello from Comp3952!</p>
<br/>
<h3>Ignacio Marquez</h3>
<p>Angry hello from Comp4956!</p>
