@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WAD</h1>
    <p class="lead">This is the home page of WAD.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink("Wheel", "About", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
</div>