@model wad.Models.DocumentModels

@{
    ViewBag.Title = "Home Page";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<div id="controlPanel">
    <div id="weight-options">
        <button type="button" onclick="boldText(this);"><b>Bold</b> text</button>
        <button type="button" onclick="italicText(this);"><i>Italicize</i> text</button>
    </div>
    <div id="colourToText">
        <label>R:&nbsp;</label> 
        <input type="text" id="red_val" name="color" value="0" />
        <br />
        <label>G:&nbsp;</label>
        <input type="text" id="green_val" name="color" value="0" />
        <br />
        <label>B:&nbsp;</label>
        <input type="text" id="blue_val" name="color" value="0" />
        <br />
        <label>HEX:&nbsp;</label>
        <input type="text" id="hex_val" name="color" value="#000000" />
    </div>
    <div id="picker"></div>
    <div style="text-align: center"><button type="button" id="picker_colour" onclick="colourText(this);">Apply to highlighted text</button></div>
    
</div>
<hr/>
<div>
@Ajax.ActionLink("Document1", // <-- Text to display
                 "GetHtmlPage",// <-- Action Method Name
                 new { num = 1 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "document-container", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new
                 {
                     @class = "docTabs"
                 })
@Ajax.ActionLink("Document2",
                 "GetHtmlPage",
                 new { num = 2 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "document-container", 
                     InsertionMode = InsertionMode.Replace, 
                     HttpMethod = "GET"
                 },
                 new
                 {
                     @class = "docTabs"
                 })
</div>
<div id="document-container">
    @{Html.RenderAction("GetHtmlPage"); }
</div>