@model wad.Models.DocumentModels

@{
    ViewBag.Title = "Home Page";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<div style="float: left">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <label for="htmlbutton">HTML File: </label>
    <input type="file" name="HTMLfile" id="htmlbutton" />
        //<label for="cssbutton">CSS File: </label>
        //<input type="file" name="CSSfile" id="cssbutton "/>
    <input type="submit" value="Upload" name="ok" />
    }
</div>
<div id="picker"></div>
<!--<div style="text-align: center">@Html.TextBoxFor(m => Model.colour, new { id = "picker_colour", onclick = "colourText(this);" })</div>-->
<div style="text-align: center"><button type="button" id="picker_colour" onclick="colourText(this);">Apply to highlighted text</button></div>
<div id="weight-options">
    <button type="button" id="picker_colour" onclick="boldText(this);"><b>Bold</b> text</button>
    <button type="button" id="picker_colour" onclick="italicText(this);"><i>Italicize</i> text</button>
</div>
<hr/>
<div>
@Ajax.ActionLink("Document1", // <-- Text to display
                 "GetHtmlPage",// <-- Action Method Name
                 new { num = 1 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "document-container", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new
                 {
                     @class = "docTabs"
                 })
@Ajax.ActionLink("Document2",
                 "GetHtmlPage",
                 new { num = 2 },
                 new AjaxOptions
                 {
                     UpdateTargetId = "document-container", 
                     InsertionMode = InsertionMode.Replace, 
                     HttpMethod = "GET"
                 },
                 new
                 {
                     @class = "docTabs"
                 })
</div>
<div id="document-container">
    @{Html.RenderAction("GetHtmlPage"); }
</div>