body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #faa60a;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #1c1c1c;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#colourDisplay {
     text-align: center;
}

#picker {
    width: 50%;
    margin: 0 auto;
}

#picker_colour{
    text-align: center;
    width: 25%;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#document-container {
    overflow-y: auto;
    height: 380px;
    background: white;
}
