@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#demo').hide();
        $('#picker').farbtastic('#color');
    });
</script>

<h1>Color Wheel Page</h1>
<div id="demo" style="color: red; font-size: 1.4em">jQuery.js is not present. You must install jQuery in this folder for the demo to work.</div>
<form action="" style="width: 400px;">
    <div class="form-item"><label for="color">Color:</label><input type="text" id="color" name="color" value="#123456" /></div><div id="picker"></div>
</form>
<hr />
<div>
    <label for="test1"><input type="radio" checked="checked" name="testRadio" value="Test1" id="test1" />TestRadio1</label>
    <br />
    <label for="test2"><input type="radio" name="testRadio" value="Test2" id="test2" />TestRadio2</label>
</div>
