@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#picker').farbtastic('#color');
    });
</script>

<h1>Colour Wheel Page</h1>
<form id="colourDisplay">
    <div class="form-item">
        <label for="color">Colour:</label><input type="text" id="color" name="color" value="#ff0000" />
    </div>
</form>
<div id="picker">
</div>
<hr />
<div>
    <label for="test1"><input type="radio" checked="checked" name="testRadio" value="Test1" id="test1" />TestRadio1</label>
    <br />
    <label for="test2"><input type="radio" name="testRadio" value="Test2" id="test2" />TestRadio2</label>
</div>
