@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#colorpicker').farbtastic('#color');
    })
</script>

<h1 style="text-align:center">Color Wheel Page</h1>
<form style="text-align:center">
    <input type="text" id="color" name="color" value="#123456" style="text-align:center" />
</form>
<div id="colorpicker"></div>
<hr />
<div>
    <label for="test1"><input type="radio" checked="checked" name="testRadio" value="Test1" id="test1" />TestRadio1</label>
    <br />
    <label for="test2"><input type="radio" name="testRadio" value="Test2" id="test2" />TestRadio2</label>
</div>
