@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<style>
    .farbtastic {
      position: relative;
    }
    .farbtastic * {
      position: absolute;
      cursor: crosshair;
    }
    .farbtastic, .farbtastic .wheel {
      width: 195px;
      height: 195px;
    }
    .farbtastic .color, .farbtastic .overlay {
      top: 47px;
      left: 47px;
      width: 101px;
      height: 101px;
    }
    .farbtastic .wheel {
      background: url(~/Images/wheel.png) no-repeat;
      width: 195px;
      height: 195px;
    }
    .farbtastic .overlay {
      background: url(~/Images/mask.png) no-repeat;
    }
    .farbtastic .marker {
      width: 17px;
      height: 17px;
      margin: -8px 0 0 -8px;
      overflow: hidden; 
      background: url(~/Images/marker.png) no-repeat;
    }
</style>
<h1 style="text-align:center">Color Wheel Page</h1>
<div id="demo" style="color: red; font-size:1.4em; text-align:center;">JQuery not present</div>
<form action="" style="text-align:center">
    <div class="form-item" style="text-align:center"><label for="color">Color:</label><input type="text" id="color" value="#123456" /></div><div id="picker"></div>
</form>
<hr />
<div>
    <label for="test1"><input type="radio" checked="checked" name="testRadio" value="Test1" id="test1" />TestRadio1</label>
    <br />
    <label for="test2"><input type="radio" name="testRadio" value="Test2" id="test2" />TestRadio2</label>
</div>
