@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h1 style="text-align:center">Farbtastic</h1>
<div id="demo" style="color: red; font-size:1.4em; text-align:center;">JQuery not present</div>
<form action="" style="text-align:center">
    <div class="form-item" style="text-align:center"><label for="color">Color:</label><input type="text" id="color" value="#123456" /></div><div id="picker"></div>
</form>


