@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript { 
<script type="text/javascript" src="~/Scripts/farbtastic.js"></script>
}

@section CSS {
    <link href="@Url.Content("~/Content/farbtastic.css")" rel="stylesheet" type="text/css" />    
}

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#demo').hide();
            $('#colorpicker').farbtastic('#color');
        });    
</script>
<h1 style="text-align:center">Color Wheel Page</h1>
<div id="demo" style="color: red; font-size:1.4em; text-align:center;">JQuery not present</div>
<form action="" style="text-align:center">
    <div class="form-item" style="text-align:center"><label for="color">Color:</label><input type="text" id="color" value="#123456" /></div><div id="picker"></div>
</form>
<hr />
<div>
    <label for="test1"><input type="radio" checked="checked" name="testRadio" value="Test1" id="test1" />TestRadio1</label>
    <br />
    <label for="test2"><input type="radio" name="testRadio" value="Test2" id="test2" />TestRadio2</label>
</div>
